// base scrollbar variables
$scrollbar-background-dark: rgba(white, 0.3);
$scrollbar-background-light: rgba(black, 0.26);
$scrollbar-background-active-dark: rgba(white, 0.43);
$scrollbar-background-active-light: rgba(black, 0.38);
